/Backend/node_modules/
/Backend/.env
/Backend/.env-dev
/Backend/.env-prod
/Backend/package-lock.json
/Backend/admin/build
/Backend/client/build
/Backend/upload


/AdminApp/node_modules/
/AdminApp/.env
/AdminApp/.env-dev
/AdminApp/.env-prod
/AdminApp/package-lock.json
/AdminApp/build

/Frontend/node_modules/
/Frontend/.env
/Frontend/.env-dev
/Frontend/.env-prod
/Frontend/package-lock.json


/SocketApp/node_modules/
/SocketApp/.env
/SocketApp/package-lock.json